
/* Start Sprite Master CSS */
.Picture Yourself Menu{display: inline-block;background-repeat: no-repeat;background-image: url('menusprites.png');}
.Picture Yourself Menu{background-position:0px 0px;width:708px;height:1109px;}
/* End Sprite Master CSS */
