$logo-font:'Pacifico';
$logo-color: #FFCC66;
$blue:#182346;
$cantaloupe: #FFCC66;
$tangerine: #FF8000;
$greyLight: #95a5a6;
$greyDark:#7f8c8d;
$black: #FFF;
.logo-small
{font-family: $logo-font;
color: $cantaloupe;
font-size: small;
}

.logo-med
{font-family: $logo-font;
color: $cantaloupe;
font-size: medium;
}

.logo-large
{font-family: $logo-font;
color: $cantaloupe;
font-size: x-large;
}


